<div class='main-wrapper'>
  <h1 class='page-title'>Find your recipe</h1>

  <%= form_for :ingredients, method: 'get', url: 'recipes', class:'ingredients-filter-form' do |form| %>
    <div class='ingredients-filter-container'>
      <% @base_ingredients.each do |ingredient| %>
        <label class='ingredient-select'>
          <%= check_box_tag "ingredients[]", ingredient, @selected_ingredients.include?(ingredient), id: ingredient %>
          <%= ingredient.capitalize() %>
        </label>
      <% end %>
    </div>

    <div class='ingredient-filter-controls'>
      <%= link_to 'Clear filters', root_path, class: 'ingredients-filter-reset button' %>
      <%= form.submit 'Filter recipes', class: 'ingredients-filter-submit button' %>
    </div>
  <% end %>

  <% if @recipes.exists? %>
    <div class='recipes-container'>
      <div class='recipes-links-container'>
          <% @recipes.each do |recipe| %>
            <%= link_to recipe_path(recipe), class: 'recipe-link' do %>
              <h2><%= recipe.title %></h2>
              <span><%= recipe.ratings %>/5</span>
            <% end %>
          <% end %>
      </div>
        <%== pagy_nav(@pagy) %>
    </div>
  <% else %>
    <p class='no-recipe-found'>No recipes found</p>
  <% end %>
</div>

